<!doctype html>
<html lang="en">

<head>
	<title>Victoriia</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,900" rel="stylesheet">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!-----google fonts cdn-------->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/owl-carousel.css" rel="stylesheet">
	<link href="/css/lightbox.css" rel="stylesheet">
	<link href="/css/cookiealert.css" rel="stylesheet">

	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- Custom styles for this template -->
</head>
<body>

	<header class="header-area header-sticky text-center header-default">
		<div class="header-main-sticky">
			<div class="header-nav">

			</div>
			<div class="header-main-head">

				<div class="header-main">
					<div class="container">
						<div class="header-left float-left d-flex d-lg-flex d-md-block d-xs-block">


							<div class="contact">
								<i class="material-icons">phone</i>
								<span>1234567890</span>
							</div>
						</div>
						<div class="header-middle float-left">
							<div class="logo">
								<a href="index.html"><img src="/img/logos/logo.png" alt="NatureCircle"></a>
							</div>
						</div>
						<div class="header-right d-flex d-xs-block d-sm-flex justify-content-end float-right">
							<div class="search-wrapper">
								<a>
									<i class="material-icons search">search</i>
									<i class="material-icons close">close</i>
								</a>
								<form autocomplete="off" action="/action_page.php" class="search-form">
									<div class="autocomplete" style="width:300px;">
										<input id="myInput" type="text" name="myCountry" placeholder="Search here">
										<button type="button"><i class="material-icons">search</i></button>
									</div>
								</form>
							</div>
							<div class="user-info">
								<button type="button" class="btn">
									<i class="material-icons">perm_identity</i>
								</button>
								<div id="user-dropdown" class="user-menu">
									<ul>
										<li><a href="/myaccount" class="text-capitalize">my account</a></li>
										<li><a href="#" class="modal-view button" data-toggle="modal"
												data-target="#modalRegisterForm">Register</a></li>
										<li><a href="#" class="modal-view button" data-toggle="modal"
												data-target="#modalLoginForm">login</a></li>
									</ul>
								</div>
							</div>
							<div class="cart-wrapper">
								<button type="button" class="btn">
									<i class="material-icons">shopping_cart</i>
									<span class="ttcount">2</span>
								</button>
								<div id="cart-dropdown" class="cart-menu">
									<ul class="w-100 float-left">
										<li>
											<table class="table table-striped">
												<tbody>
													<tr>
														<td class="text-center"><a href="#"><img
																	src="/img/products/01.jpg" alt="01" title="01"></a>
														</td>
														<td class="text-left product-name"><a href="#">aliquam quaerat
																voluptatem</a>
															<div class="quantity float-left w-100">
																<span class="cart-qty">1 × </span>
																<span class="text-left price"> $20.00</span>
															</div>
														</td>
														<td class="text-center close"><a class="close-cart"><i
																	class="material-icons">close</i></a></td>
													</tr>

												</tbody>
											</table>
										</li>
										<li>
											<table class="table price mb-30">
												<tbody>
													<tr>
														<td class="text-left"><strong>Total</strong></td>
														<td class="text-right"><strong>$2,122.00</strong></td>
													</tr>
												</tbody>
											</table>
										</li>
										<li class="buttons w-100 float-left">
											<form action="cart_page.html">
												<input class="btn pull-left mt_10 btn-primary btn-rounded w-100"
													value="View cart" type="submit">
											</form>
											<form action="checkout_page.html">
												<input class="btn pull-right mt_10 btn-primary btn-rounded w-100"
													value="Checkout" type="submit">
											</form>
										</li>
									</ul>
								</div>
							</div>
							<span class="material-symbols-outlined">
							<a href="/wishlist/wishlist"><i class="fa-solid fa-heart"></i>
									</a>
							</span>

						</div>
					</div>
				</div>
				<div class="menu">
					<!-- Navbar -->
					<nav class="navbar navbar-expand-lg navbar-light d-sm-none d-xs-none d-lg-block navbar-full">

						<!-- Navbar brand -->
						<a class="navbar-brand text-uppercase d-none" href="#">Navbar</a>

						<!-- Collapse button -->
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span> </button>

						<!-- Collapsible content -->
						<div class="collapse navbar-collapse">

							<!-- Links -->
							<ul class="navbar-nav m-auto justify-content-center">
								<li class="nav-item dropdown active">
									<a class="nav-link dropdown-toggle text-uppercase" href="/">
										Home
										<span class="sr-only">(current)</span> </a>

								</li>
								<li class="nav-item dropdown mega-dropdown">
									<a class="nav-link dropdown-toggle text-uppercase" href="/category">Category</a>
									<div class="dropdown-menu mega-menu v-2 z-depth-1 special-color py-3 px-3">
										<div class="row">


											<div class="col-md-6 col-xl-4 sub-menu mb-0">

												<ul class="list-unstyled">
													<li>
														<span class="menu-banner"><img src="/img/banner/menu-banner.jpg"
																alt="menu-banner" /></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-uppercase" href="/shop">
										Shop
										<span class="sr-only">(current)</span> </a>

								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-uppercase" href="/blog">Blog</a>

								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-uppercase" href="/about">About us</a>

						</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-uppercase" href="/contact">contact us</a>
						</li>
						</ul>
						<!-- Links -->
				</div>
				<!-- Collapsible content -->
				</nav>
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg navbar-dark d-lg-none navbar-responsive">

					<!-- Navbar brand -->
					<a class="navbar-brand text-uppercase d-none" href="#">Navbar</a>

					<!-- Collapse button -->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"><i class='material-icons'>sort</i></span>
					</button>

					<!-- Collapsible content -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent2">

						<!-- Links -->
						<ul class="navbar-nav m-auto justify-content-center">

							<!-- Features -->
							<li class="nav-item  active">
								<a class="nav-link  text-uppercase" data-toggle="collapse" data-target="#menu1"
									aria-controls="menu1" aria-expanded="false" aria-label="Toggle navigation" href="/">
									Home
									<span class="sr-only">(current)</span> </a>

					</div>
					</li>
					<li class="nav-item ">
						<a class="nav-link text-uppercase" data-toggle="collapse" data-target="#menu3"
							aria-controls="menu3" aria-expanded="false" aria-label="Toggle navigation"
							href="/category">Category</a>

					</li>

					<li class="nav-item">
						<a class="nav-link  text-uppercase" data-toggle="collapse" data-target="#menu2"
							aria-controls="menu2" aria-expanded="false" aria-label="Toggle navigation" href="/product">
							Shop
							<span class="sr-only">(current)</span> </a>

					</li>
					<!-- Technology -->



					<li class="nav-item">
						<a class="nav-link  text-uppercase" data-toggle="collapse" data-target="#menu4"
							aria-controls="menu4" aria-expanded="false" aria-label="Toggle navigation"
							href="/blog">Blog</a>

					</li>

					<li class="nav-item ">
						<a class="nav-link  text-uppercase" data-toggle="collapse" data-target="#menu5"
							aria-controls="menu5" aria-expanded="false" aria-label="Toggle navigation"
							href="/about">About Us</a>

			</div>
			</li>
			</ul>
			<!-- Links -->
		</div>
		<!-- Collapsible content -->

		</nav>
		</div>
		</div>
		</div>
	</header>
	<nav aria-label="breadcrumb" class="w-100 float-left">
		<ol class="breadcrumb parallax justify-content-center" data-source-url="/img/banner/parallax.jpg"
			style="background-image: url(&quot;img/banner/parallax.jpg&quot;); background-position: 50% 0.809717%;">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
		</ol>
	</nav>

	<div class="cart-area table-area pt-110 pb-95 float-left w-100">
		<div class="container">
			<div class=" cart-wrapper float-left w-100">
				<div class="table-responsive">
					<!-- wishlist Section Begin -->
					<section class="shopping-cart spad  ">
						<div class="container text-center">
							<div class="row ">
								<div class="col ">
									<div class="shopping_cart_table  ">
										<table>
											<thead>
												<tr>
													<th>Product</th>
					
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
					
													<% if (wishlistProducts.length>0){ %>
														<% wishlistProducts.forEach((p)=>{%>
															<% p.product.forEach((p2)=>{%>
					
																<td class="product_cart_item text-center">
																	<div class="product_cartitem_pic ">
																		<img src="<%= p2.image[0].url %>" alt="" style="width: 60px;">
																	</div>
																	<div class="product_cartitem_text">
																		<h6>
																			<%= p2.product_name %>
																		</h6>
																		<h5>₹<span id="product_price<%=p.item %>">
																				<%= p2.product_price %>
																			</span>
					
																		</h5>
																<td><a href="#" class="text-danger" onclick="cartList('<%= p.item %>')">Add
																		To Cart</a></td>
					
									</div>
					
									</td>
					
					
					
					
					
					
					
									<td type="button" class="cart__close " data-bs-toggle="modal"
										data-bs-target="#exampleModal<%=p.item %>"><i class="fa fa-close"></i>
					
										</button>
									</td>
					
									</tr>
									<%})%>
										<%})%>
					
											<%}%>
												</tbody>
												</table>
								</div>
							</div>
						</div>
						</div>
					</section>
				</div>
			</div>
		</div>

	</div>

	<!-- Footer -->
	<footer class="page-footer font-small">
		<div class="container text-center text-md-left">
			<div class="row">
				<div class="col-md-2 footer-cms footer-column">
					<div class="ttcmsfooter">
						<div class="footer-logo"><img src="/img/logos/footer-logo.png" alt="footer-logo"></div>
						<div class="footer-desc">At vero eos et accusamus et iusto odio dignissimos ducimus, duis
							faucibus enim vitae</div>
					</div>
				</div>
				<div class="col-md-2 footer-column">
					<div class="title">
						<a href="#company" class="font-weight-normal text-capitalize mb-10" data-toggle="collapse"
							aria-expanded="false">company</a>
					</div>
					<ul id="company" class="list-unstyled collapse">
						<li>
							<a href="#">search</a>
						</li>
						<li>
							<a href="#">New Products</a>
						</li>
						<li>
							<a href="/category">Best Collection</a>
						</li>
						<li>
							<a href="/wishlist">wishlist</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 footer-column">
					<div class="title">
						<a href="#products" class="font-weight-normal text-capitalize mb-10" data-toggle="collapse"
							aria-expanded="false">products</a>
					</div>
					<ul id="products" class="list-unstyled collapse">
						<li>
							<a href="blog-details.html">blog</a>
						</li>
						<li>
							<a href="about-us.html">about us</a>
						</li>
						<li>
							<a href="contact-us.html">contact us</a>
						</li>
						<li>
							<a href="my-account.html">my account</a>
						</li>
					</ul>

				</div>
				<div class="col-md-2 footer-column">
					<div class="title">
						<a href="#account" class="font-weight-normal text-capitalize mb-10" data-toggle="collapse"
							aria-expanded="false">your account</a>
					</div>
					<ul id="account" class="list-unstyled collapse">
						<li>
							<a href="blog-details.html">personal info</a>
						</li>
						<li>
							<a href="#">orders</a>
						</li>
						<li>
							<a href="contact-us.html">addresses</a>
						</li>
						<li>
							<a href="/myaccount">my wishlists</a>
						</li>
					</ul>

				</div>
				<div class="col-md-2 footer-column">
					<div class="title">
						<a href="#information" class="font-weight-normal text-capitalize mb-10" data-toggle="collapse"
							aria-expanded="false">store information</a>
					</div>
					<ul id="information" class="list-unstyled collapse">
						<li class="contact-detail links">
							<span class="address">
								<span class="icon"><i class="material-icons">location_on</i></span>
								<span class="data"> 4030, Central Bazzar, opp. Varachha Police Station, Varachha Main
									Road, Surat, Gujarat 395006, India</span> </span>
						</li>
						<li class="links">
							<span class="contact">
								<span class="icon"><i class="material-icons">phone</i></span>
								<span class="data"><a href="tel:(99)55669999">+ (99) 55-669-999</a></span> </span>
						</li>
						<li class="links">
							<span class="email">
								<span class="icon"><i class="material-icons">email</i></span>
								<span class="data"><a href="mailto:demo.store@gmail.com">demo.store@gmail.com</a></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="footer-bottom-wrap">
			<div class="container">
				<div class="row">
					<div class="footer-copyright text-center py-3">
						© 2019 - Boostrap theme by store™
					</div>
				</div>
			</div>
		</div>
		<a href="#" id="goToTop" title="Back to top" class="btn-primary"><i
				class="material-icons arrow-up">keyboard_arrow_up</i></a>


	</footer>
	<!-- Footer -->

<% wishlistProducts.forEach((p)=>{ %>
	<% p.product.forEach((p2)=>{%>

		<div class="modal fade" id="exampleModal<%=p.item%>" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Remove Item</h5>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Do you want remove this Item from Cart ..?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-secondary" onclick="deleteWishlist('<%= p.item %>')"
							data-bs-dismiss="modal">
							Delete</button>
					</div>
				</div>
			</div>
		</div>

		<% }) %>
			<% }) %>



			


	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/lightbox-2.6.min.js"></script>
	<script src="js/ResizeSensor.min.js"></script>
	<script src="js/theia-sticky-sidebar.min.js"></script>
	<script src="js/inview.js"></script>
	<script src="js/cookiealert.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	

	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/5ac1aabb4b401e45400e4197/default';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>

<script>
	function cartList(id) {
		fetch('/cart/addToCart/' + id, {
			method: 'post',
			headers: {
				'Content-type': 'application/json',
				body: JSON.stringify({ hai: "jhj" })
			}
		})
			.then(res => res.json())
			.then(data => {
				success: location.reload()
			})
	}
	function deleteWishlist(id) {
		fetch('/wishList/deleteWishlistItem/' + id, {
			method: 'delete',
			headers: {
				'Content-type': 'application/json',
				body: JSON.stringify({ hai: "jhj" })
			}
		})
			.then(res => res.json())
			.then(data => {
				success: location.reload()
			})
	}
</script>
	
	<!--End of Tawk.to Script-->
</body>

</html>